.news-reader-question {
    width:70%; 
    height:70%; 
    font-size:2.3vh;
    text-align:left;
    top:0px;
    margin: auto;
    padding-bottom:5%;
}
.news-reader-answers {
    width:70%;
    margin:auto;
    .news-reader-answer{
        width:100%; 
        margin-bottom:2%;
    }
}
.news-reader-correct{
    width:100%; 
    margin-bottom:2%;
    border: 0.28em solid #228B22; 
}
.news-reader-incorrect{
    width:100%; 
    margin-bottom:2%;
    border: 0.28em solid #CD5C5C;
}
.news-reader-btns {
    display:inline-block;
    width:100%;
    text-align: center;
}
.news-reader-btn {
    display: inline-block;
    width: 40%;
}

