<div style="height:100%">
  <ion-icon name="close" class='news-reader-close' (click)="closeModal()"></ion-icon>

  <div class="news-reader-text">
    <ion-content class="news-reader-text-inner">{{currentWord}}</ion-content>
  </div>

  <div class="news-reader-controls">
    <ion-item style="text-align:center;margin-bottom:5%;">
      <ion-icon name="remove" class="news-reader-margin" (click)="updateWPM(10)"></ion-icon>
      <div class="news-reader-wpm" class="news-reader-margin">{{wpm}}</div>
      <ion-icon ion-icon name="add" class="news-reader-margin" (click)="updateWPM(-10)"></ion-icon>
    </ion-item>
    <div class='news-reader-btns'>
      <ion-button expand="block" (click)="startReader()" class="news-reader-btn">Start</ion-button>
      <ion-button expand="block" (click)="resetReader()" class="news-reader-btn">Reset</ion-button>
      <ion-button expand="block" (click)="stopReader()" class="news-reader-btn">Stop</ion-button>
    </div>
  </div>
</div>
